﻿@model MusicOverFlow.Core.DTOs.SongPlayerViewModel
@{
    ViewData["Title"] = Model.PlayingSong.Name;
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/player-page.css">
}
@section bodyStart{
    <div class="playing-background"></div>
}

<div class="row">
    <div class="col-sm-12 col-md-12 @(Model.Songs.Any()? "col-lg-6 col-xl-6":"col-lg-12 col-xl-12")">
        <h1 class="h3 text-center text-white playing-singer-name">@Model.PlayingSong.SingerName</h1>
        <h2 class="h4 text-center text-white-50 playing-song-name">
            @Model.PlayingSong.Name
        </h2>
        <img class="img-fluid playing-music-image" src="/Images/Song/@Model.PlayingSong.Image" alt="@Model.PlayingSong.Name Image">

    </div>


    @if (Model.Songs.Any())
    {
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <button class="btn btn-dark text-center col-12" id="songs-collapse" type="button" data-toggle="collapse" data-target="#collapseSongs" aria-expanded="false" aria-controls="collapseExample">
                آهنگ های دیگر
            </button>

            <div class="col-12 collapse show" id="collapseSongs">
                <div class="tbl-songs">
                    <table dir="rtl" class="table text-white text-right">
                        <tbody>
                            @foreach (var item in Model.Songs)
                            {
                                <tr>
                                    <td hidden class="song-id">@item.Id</td>
                                    <td>
                                        <a class="Change_Music" id="@item.Id">
                                            <img class="img-fluid song-img" src="/Images/Song/@item.Image" alt="@item.Name Image"
                                                 srcset="">
                                            <b class="text-white song-name" style="text-decoration: none;">@item.Name</b>
                                        </a>
                                    </td>
                                    <td class="list-singer-name">@item.SingerName</td>
                                    <td>@Html.Raw((item.AlbumName != "-") ? "<a class=\"text-white\" href=\"/Album/" + item.AlbumId + "\">" + item.AlbumName + "</a>" : item.AlbumName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@section outOfMainBody{

    <audio id="playingMusic" ontimeupdate="timeListener(this)" onended="musicEnded()"
           src="/Audio/Song/@Model.PlayingSong.SongFile" controls>
    </audio>

    <div class="col-12 " id="audio-panel">
        <div class="row panel">
            <div class="col row col-xl-3 col-lg-3 col-12" id="btns-main">
                <div class="col row row-cols-3">
                    <button class="col btn btn-white zmdi zmdi-skip-previous"></button>
                    <button id="btn_playpause" class="col btn btn-white zmdi zmdi-play"></button>
                    <button class="col btn btn-white zmdi zmdi-skip-next"></button>
                </div>

                <div class="btn992 dropup">
                    <button class="dropleft btn btn-white dropdown-toggle dropdown-toggle-split" type="button"
                            id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <a class="dropdown-item btn-shuffle" href="#"><i class="zmdi zmdi-shuffle"></i> Shuffle</a>
                        <a class="dropdown-item btn-repeat" href="#"><i class="zmdi zmdi-repeat"></i> Repeat</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <input type="range" min="1" max="100" value="50"
                                   class="slider volume-value992 volume-value">
                        </a>
                    </div>
                </div>
            </div>


            <div class="col row col-xl-6 col-lg-6 col-12">
                <span id="time-left" class="col-2 time-counter text-center">00:00</span>
                <input id="time-range" type="range" min="0" max="0" value="0" class="col-8 slider">
                <span id="whole-time" class="col-2 time-counter text-center">00:00</span>
            </div>

            <div class="col-2 col-xl-1 row customize-setting">
                <button class="col-6 btn btn-white zmdi zmdi-repeat btn-repeat"></button>
                <button class="col-6 btn btn-white zmdi zmdi-shuffle btn-shuffle"></button>
            </div>

            <div class="col-2  row volume-bar" style="margin-right: -10%;">
                <button class="col btn btn-white zmdi zmdi-volume-up"></button>
                <div class="col  slidecontainer" id="volume-holder" style="display: none;">
                    <input type="range" min="1" max="100" value="100" class="slider volume-value">
                </div>
            </div>

        </div>


    </div>

}

@section scripts{
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/player.js" type="text/javascript"></script>
    <script type="text/javascript">
        ChangeBackground("@Model.PlayingSong.Image");
        SignPlayingSong("@Model.PlayingSong.Id");
        playingMusicId = "@Model.PlayingSong.Id";
    </script>
}