﻿@model MusicOverFlow.Core.DTOs.EditSingerViewModel

@{
    ViewData["Title"] = $"تغییر اطلاعات {Model.FullName}";
}

<h1 dir="rtl" class="text-white text-center">تغییر اطلاعات خواننده @Model.FullName</h1>

<hr />
<div class="row text-white" dir="rtl">
    <div class="col-md-12 col-xl-6 col-sm-12 col-lg-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" hidden class="form-control" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label float-right"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label float-right"></label>
                <textarea asp-for="Bio" class="form-control"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label float-right">عکس خواننده</label>
                <input type="file" asp-for="ProfileImage" class="form-control" accept="image/png, image/jpeg" />
                <img src="/Images/Singer/@Model.ImageString" id="imgInp" alt="Singer Image" class="m-2 img-thumbnail float-right" width="500" style="margin:20px;" />
            </div>


            <div class="form-group">
                <input type="submit" value="اطلاعات رو تغییر بده" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="float-right col-12">
    <a asp-action="Index" class="btn btn-outline-warning btn-block">بازگشت به لیست خواننده ها</a>
</div>

@section scripts{

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgInp').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#ProfileImage").change(function () {
            readURL(this);
        });

    </script>

}