﻿@model IEnumerable<MusicOverFlow.DataLayer.Entities.Singer.Singer>

@{
    ViewData["Title"] = "خوانندگان";
}
<br />
<h1 class="text-white text-center">لیست خوانندگان</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success btn-block">ساخت خواننده جدید</a>
</p>
<br />

<table class="table text-white text-right" dir="rtl">
    <thead>
        <tr>
            <th>
                نام
            </th>
            <th>
                عکس
            </th>
            <th>
                اطلاعات
            </th>
            <th>
                تاریخ اضافه شدن
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Singer/@item.Id" class="text-white">@item.FullName</a>
                </td>
                <td>
                    <img src="/Images/Singer/@item.Image" class="img-thumbnail" width="60" height="60" alt="@item.FullName" />
                </td>
                <td>
                    @((item.Bio.Length > 15)? item.Bio.Substring(0,14)+"...":item.Bio)
                </td>
                <td>
                    @MusicOverFlow.Core.Convertors.DateConvertor.ToShamsi(item.ModifyDate)
                </td>
                <td>
                    <a href="/Admin/Singer/Edit/@item.Id" class="btn btn-sm btn-warning">تغییر</a> |
                    <a href="/Admin/Singer/Delete/@item.Id" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>