﻿@model MusicOverFlow.Core.DTOs.SearchIndexViewModel
@{
    ViewData["Title"] = "جستجو در سایت";
}

@section styles
{
    <link href="~/css/search-page.css" rel="stylesheet" />
}

<div class="col-12">

    <div class="text-center text-white mt-3">
        <img src="/Logo.jpg" class="rounded mx-auto d-block m-1" width="200" alt="Music OverFlow's logo" />
        <h1 class="font-weight-bold ">Music OverFlow</h1>
        <h5 class="blockquote-footer">هر آهنگی بخوای اینجا پیدا میشه :)</h5>
    </div>


    <form asp-action="Search" method="GET">
        <div class="input-group search-box-holder">
            <div class="input-group-prepend">
                <button class="input-group-text btn btn-outline-dark" id="basic-addon2" type="submit">
                    <i class="zmdi zmdi-search"></i> پيداش كن
                </button>
            </div>
            <input dir="rtl" name="search" type="text" class="form-control text-center" placeholder="دنبال چي ميگردي؟" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
    </form>

    <div class="col-12 row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <div class="col index-item">
            <i class="zmdi zmdi-collection-music search-index-icon text-center mx-auto d-block"></i>

            <p class="text-center text-white search-index-text" dir="rtl"><b class="count-songs"></b> آهنگ</p>
        </div>
        <div class="col index-item">
            <i class="zmdi zmdi-album search-index-icon text-center mx-auto d-block"></i>

            <p class="text-center text-white search-index-text" dir="rtl"><b class="count-albums"></b> البوم</p>
        </div>
        <div class="col index-item">
            <i class="zmdi zmdi-mic-outline search-index-icon text-center mx-auto d-block"></i>

            <p class="text-center text-white search-index-text" dir="rtl"><b class="count-singers"></b> خواننده</p>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        (function ($) {
            $.fn.countTo = function (options) {
                // merge the default plugin settings with the custom options
                options = $.extend({}, $.fn.countTo.defaults, options || {});

                // how many times to update the value, and how much to increment the value on each update
                var loops = Math.ceil(options.speed / options.refreshInterval),
                    increment = (options.to - options.from) / loops;

                return $(this).each(function () {
                    var _this = this,
                        loopCount = 0,
                        value = options.from,
                        interval = setInterval(updateTimer, options.refreshInterval);

                    function updateTimer() {
                        value += increment;
                        loopCount++;
                        $(_this).html(value.toFixed(options.decimals));

                        if (typeof (options.onUpdate) == 'function') {
                            options.onUpdate.call(_this, value);
                        }

                        if (loopCount >= loops) {
                            clearInterval(interval);
                            value = options.to;

                            if (typeof (options.onComplete) == 'function') {
                                options.onComplete.call(_this, value);
                            }
                        }
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,  // the number the element should start at
                to: 100,  // the number the element should end at
                speed: 1000,  // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,  // the number of decimal places to show
                onUpdate: null,  // callback method for every time the element is updated,
                onComplete: null,  // callback method for when the element finishes updating
            };
        })(jQuery);

        jQuery(function($) {
            $('.count-songs').countTo({
                from: 0,
                to: @Model.SongCount,
                speed: 1000,
                refreshInterval: 50,
                onComplete: function(value) {
                    console.debug(this);
                }
            });
        });

        jQuery(function($) {
            $('.count-albums').countTo({
                from: 0,
                to: @Model.AlbumCount,
                speed: 1000,
                refreshInterval: 50,
                onComplete: function(value) {
                    console.debug(this);
                }
            });
        });

        jQuery(function($) {
            $('.count-singers').countTo({
                from: 0,
                to: @Model.SingerCount,
                speed: 1000,
                refreshInterval: 50,
                onComplete: function(value) {
                    console.debug(this);
                }
            });
        });

    </script>
}
