﻿@model MusicOverFlow.Core.DTOs.SearchResultViewModel
@{
    ViewData["Title"] = Model.SearchText;
}
@section styles
{
    <link href="~/css/search-page.css" rel="stylesheet" />
}

<form asp-action="Search" method="GET">
    <div class="input-group mb-3 search-box-holder">
        <div class="input-group-prepend">
            <button class="input-group-text btn btn-outline-dark" id="basic-addon2" type="submit">
                <i class="zmdi zmdi-search"></i> پيداش كن
            </button>
        </div>
        <input dir="rtl" name="search" type="text" class="form-control text-center" placeholder="دنبال چي ميگردي؟" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <p class="text-muted text-right">
        .عبارت جستجو شده <span class="text-info">"@Model.SearchText"</span> ميباشد
    </p>
</form>

@if (@Model.Songs.Any())
{
    <div class="col-12 v-sp h-sp">
        <h2 class="col-12 sec-title text-right">اهنگ ها <i class="zmdi zmdi-collection-music"></i></h2>

        <div class="tbl-songs">
            <table dir="rtl" class="table text-white text-right">
                <tbody>
                    @foreach (var song in Model.Songs)
                    {
                        <tr>
                            <td>
                                <a href="/Play/@song.Id">
                                    <img class="img-fluid song-img" src="/Images/Song/@song.Image" alt="@song.Name عکس">
                                    <b class="text-white" style="text-decoration: none;">@song.Name</b>
                                </a>
                            </td>
                            <td><a class="text-white" href="/Singer/@song.SingerId">@song.SingerName</a></td>
                            <td>
                                @if (song.AlbumName != "-")
                                {
                                    <a class="text-white" href="/Album/@song.SingerId">@song.AlbumName</a>
                                }
                                else
                                {
                                    <a class="text-white">-</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.Albums.Any())
{
    <div class="col-12 v-sp h-sp">
        <h2 class="col-12 sec-title text-right">البوم ها <i class="zmdi zmdi-album"></i></h2>

        <div class="tbl-songs">
            <table dir="rtl" class="table text-white text-right">
                <tbody>
                    @foreach (var album in Model.Albums)
                    {
                        <tr>
                            <td>
                                <a href="/Album/@album.Id">
                                    <img class="img-fluid song-img" src="/Images/Album/@album.Image" alt="@album.Name عکس" srcset="">
                                    <b class="text-white" style="text-decoration: none;">@album.Name</b>
                                </a>
                            </td>
                            <td><a class="text-white" href="/Singer/@album.SingerId">@album.SingerName</a></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.Singers.Any())
{
    <div class="col-12 v-sp h-sp">
        <h2 class="col-12 sec-title text-right">خوانندگان <i class="zmdi zmdi-mic-outline"></i></h2>

        <div class="tbl-songs">
            <table dir="rtl" class="table text-white text-right">
                <tbody>
                    @foreach (var singer in Model.Singers)
                    {
                        <tr>
                            <td>
                                <a href="/Singer/@singer.Id">
                                    <img class="img-fluid song-img" src="/Images/Singer/@singer.Image" alt="عکس @singer.Image"> 
                                    <b class="text-white" style="text-decoration: none;">@singer.FullName</b>
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}