﻿@model List<MusicOverFlow.Core.DTOs.ShowListAlbumViewModel>
@{
    ViewData["Title"] = "آلبوم ها";
}
<h2 class="col-12 sec-title text-right"> </h2>
<h1 class="col-12 sec-title text-center zmdi zmdi-album"> البوم ها</h1>

<div class="col-12 v-sp h-sp">
    <div class="tbl-songs">
        <table dir="rtl" class="table text-white text-right">
            <tbody>
                @foreach (var album in Model)
                {
                    <tr>
                        <td>
                            <a href="/Album/@album.Id">
                                <img class="img-fluid song-img" src="/Images/Album/@album.Image" alt="@album.Name عکس" srcset="">
                                <b class="text-white" style="text-decoration: none;">@album.Name</b>
                            </a>
                        </td>
                        <td><a class="text-white" href="/Singer/@album.SingerId">@album.SingerName</a></td>
                        <td>اهنگ @album.SongCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>