﻿@model MusicOverFlow.Core.DTOs.AlbumProfileViewModel
@{
    ViewData["Title"] = "البوم " + Model.Album.Name;
}

@section styles{
    <link rel="stylesheet" type='text/css' href="~/css/singer-page.css">
    <link href="~/css/album-page.css" rel="stylesheet" />
}

@section bodyStart{
    <div class="singer-img-holder">
        <img id="Singer-img" class="bg-singer faded faded-bottom" src="/Images/Album/@Model.Album.Image" alt="@Model.Album.Name عکس" style="display: inline;height:800px; display:none;" />
    </div>
}

<div class="singer-info text-center v-sp text-white">
    <h1 dir="rtl" class="album-name">@Model.Album.Name</h1>
    <h2 dir="rtl">
        @Model.Singer.FullName
    </h2>
</div>

<div class="col-12 v-sp">
    <h2 class="col-12 sec-title text-center">آهنگ ها</h2>

    <div class="tbl-songs">
        <table dir="rtl" class="table text-white text-right">
            <tbody>
                @foreach (var song in Model.Songs)
                {
                    <tr>
                        <td>
                            <a href="/Play/@song.Id">
                                <img class="img-fluid song-img" src="/Images/Singer/@song.Image"
                                     alt="" srcset="">
                                <b class="text-white"
                                   style="text-decoration: none;"><span class="zmdi zmdi-play"></span> @song.Name</b>
                            </a>
                        </td>
                        <td><a href="/Singer/@song.SingerId" class="text-white">@Model.Singer.FullName</a></td>
                        <td><a href="/Album/@song.AlbumId" class="text-center text-white">@Model.Album.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Songs" class="btn btn-white btn-block v-sp"> نمایش بیشتر</a>
    </div>

    @*<div class="col-12 recommended-singers">
        <section class="col-12 sec-singers">
            <header>
                <h3 class="sec-title text-right">
                    <a href="/Singers" class="badge badge-light">بیشتر</a> خوانندگان
                    دیگر
                </h3>
            </header>

            <div class="col-12 container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    @foreach (var singer in Model.Singers)
                    {
                        <div class="col singer-item">
                            <a href="/Singer/@singer.Id">
                                <img class="img-fluid rounded-circle"
                                     src="/Images/Singer/@singer.Image" alt="@singer.FullName's Picture">
                            </a>
                        </div>
                    }
                </div>
            </div>

        </section>
    </div>*@
</div>















@section scripts{

    <script>

        $(document).ready(function () {
            setTimeout(function () {
                jQuery('#Singer-img').fadeIn(1000);
            }, 250);

            $("#btnShare").on("click", function () {
                var copyText = window.location.href;
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");
                alert("damn");
                $(this)
                    .removeClass("btn-white")
                    .addClass("btn-success")
                    .delay(800).done(function () {
                        alert("damn");

                        $(this).removeClass("btn-success").addClass("btn-white");
                    });
            });
        });


    </script>

}