﻿.singer-info {
    background-color: rgba(0, 182, 151, 0.2);
    padding-bottom: 25px;
    padding-top: 25px;
    margin-right: 20px;
    border-radius: 10px 60px 10px 60px;

}
.album-name {
    margin-bottom: 10px;
}