body{
    background-color: #1E1E1E;
    margin-top: 0px;
    padding-top: 0px;
}
.v-sp{
  margin-top: 15px;
  margin-bottom: 15px;
}
.h-sp{
  margin-left: 15px;
  margin-right: 15px;
}
.none-decoration{
  text-decoration: none;
}
.tbl-songs{
  padding-left: 45px;
  padding-right: 45px;
}
.song-img {
    width: 40px;
    border-radius: 5px;
}
.header{
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0000004d;
    border-bottom-left-radius:  25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
    
}
.main-page-logo{
    height: 60px;
    border-radius: 35%;
    margin-left: 7%;
    float: left;
}
.nav-sm{
  display: none;
  font-size: 45px;
}
.nav-sm ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-sm ul li{

  padding-left: 2.5px;
  padding-right: 2.5px;
}
.nav-sm ul li a i{
  color: #13F8D1;
  transition-duration: .20s;
}
.nav-sm ul li a i:hover{
  color: #087563;
}
.nav-lg ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }
.nav-lg ul  li {
    float: left;
  }
.nav-lg ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    position: relative;
    position: relative;
}
  .nav-lg ul li a:before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #12F7D1;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  } 
  .nav-lg ul li a:after
  {
    content: '';
    position: absolute;
    width: 0; 
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #12F7D1;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
  .nav-lg ul li a:hover{
    color: #00cfad;
}
  .nav-lg ul li a:hover:after{
    width: 100%;
    left: 0;
    background: #12F7D1;
    cursor: pointer;
  }

  .main-body{
    margin:10px;
    
  }

  .sec-title{
    margin-top: 20px;
    color: #00d6b3;
    font-size: 33px;
  }
  .sec-title a{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .sec-singers{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .playlist{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 7px;
  }
  .singer-item{
    margin-top: 12px;

  }


  .playlist-text {
    position: absolute;
    float: right;
    bottom: 0;
    left: 50%;
    width: 91.5% ;
    background-color: rgba(12, 8, 8, 0.747);
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -0%);
    text-align: center;
  }
  .sec-playlist{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .footer{
    background-color: #181a1bce;
    margin-top: 55px;
  }
  .footer-icons{
    font-size: 40px;
  }
  .footer-icon{
    margin-bottom: 10px;
    margin-top: 10px;
    transition-duration: .20s;
    margin: 10px;

  }
  .footer-icon:hover{
    color: #11F4CE;
    font-size: 50px;
    margin: 0px;

  }
  .zmdi-youtube-play{
    color: #FF0000;
  }
  .zmdi-linkedin-box{
color: #0077B5;
  }
  .zmdi-twitter{
color: #32CCFE;
  }
  .zmdi-instagram{
    color: #F5EEE6;
  }
  .zmdi-whatsapp{
    color: #47C756;
  }
  .footer-email{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .btn-white{
    background-color: #fffffff8;
    color: #1E1E1E;
    transition: .25s;
  }
  .btn-white:hover{
    background-color: #ddddddf8;
  }
.recommended-singers{
  margin-bottom: 50px;
  margin-top: 50px;
}
.singer-item-link {
    cursor: default;
}

.area-control-singer-item {
    height: 270px;
    width: 270px;
    transition-duration: .5s;
}

    .area-control-singer-item:hover {
    }

.singer-name {
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

    .singer-name:hover {
        opacity: 1;
        transition-duration: .5s;
    }


.singer-thumb {
    cursor: pointer;
    height: 260px;
    width: 260px;
    display: none;
    transition-duration: .5s;
}

    .singer-thumb:hover {
        box-shadow: 0 4px 8px 0 rgba(0,214, 179, 0.2), 0 6px 20px 0 rgba(0, 214, 179, 0.19);
        height: 270px;
        width: 270px;
        -webkit-filter: brightness(50%);
    }

.area-control-singer-item:hover .singer-name {
    opacity: 1;
    transition-duration: .5s;
}

















  @media (max-width: 992px) and (min-width: 576px){ 
    .nav-lg{
      display: none;
    }
    .search-lg{
      display: none;
    }

    .nav-sm{
      display: inline-block;
    }
    .sec-title{
      font-size: 23px;
    }
   }

   @media (max-width: 576px) {
    .nav-lg{
      display: none;
    }
    .search-lg{
      display: none;
    }

    .nav-sm{
      display: inline-block;
      font-size: 30px;
      margin-top: 5px;
    } 
    }