.newest-music{
    width: 100%;
    border-radius: 15px;
}
.newest-music-div{
padding-left: 0px;
padding-right: 0px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

  .img-overlay {
      
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000093;
    border-radius: 15px;
  }
  
  .img-container:hover .img-overlay {
    opacity: 1;
  }
  
  .img-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }