body {
    background-color: #161616;
}

#playingMusic {
    display: none;
}

#audio-panel {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.596);
}

    #audio-panel button {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 4px;
        font-size: 26px;
        transition-duration: .25s;
    }

        #audio-panel button:hover {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 30px;
            transition-duration: .25s;
        }

.panel {
    padding-right: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: -35px;
}

.time-counter {
    color: white;
}

.btn992 {
    margin-left: 5px;
    display: none;
}


.playing-background {
    background-image: url(../sample-images/post-profile.jpg);
    z-index: -1;
    filter: blur(8px);
    filter: brightness(100%);
    -webkit-filter: blur(9px) brightness(35%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: inset 0 -280px 800px -10px #1E1E1E;
    box-shadow: inset 0 -280px 400px -30px #1E1E1E;
}

.footer {
    display: none;
}

.playing-music-image {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: block;
    width: 425px;
    cursor: pointer;
}

.tbl-songs {
    margin-top: 20px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 15px;
}

.btns-main {
    /*
    margin-right: -10px;
    margin-left: -10px;
    */
}

#time-range {
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 0px;
}

.customize-setting {
    margin-right: 15px;
}

.Change_Music {
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: #12F7D1;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: #12F7D1;
        cursor: pointer;
    }

.volume-value992 {
    background: #2e2e2e;
}

#songs-collapse {
    display: none;
}

@media (max-width: 992px) {
    #songs-collapse {
        display: block;
    }

    .volume-bar {
        display: none;
    }

    .sp {
        display: none;
    }

    .customize-setting {
        display: none;
    }

    .btn992 {
        display: block;
    }

    .tbl-songs {
        margin-bottom: 65px;
        margin-top: 30px;
    }

    .list-singer-name {
        display: none;
    }

    .main-body {
        margin: 0px;
    }

    #time-range {
        margin-top: 12px;
        margin-bottom: 8px;
    }
}
