.search-lg {
    visibility: hidden;
}

.search-box-holder {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right:25px;
}

.search-index-icon {
    color: #13F8D1;
    font-size: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: .5s;
}

    .search-index-icon:hover {
        color: #03e4be;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 130px;
    }

.search-index-text {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.index-item {
    margin-top: 20px;
    margin-bottom: 20px;
}
