﻿@model MusicOverFlow.Core.DTOs.ShowSingerProfileViewModel
@{
    ViewData["Title"] = Model.FullName;
}
@section styles{
    <link rel="stylesheet" type='text/css' href="~/css/singer-page.css">
}
@section bodyStart{
    <div class="singer-img-holder">
        <img id="Singer-img" class="bg-singer faded faded-bottom" src="/Images/Singer/@Model.Image" alt="@Model.FullName عکس" style="display: inline;height:800px; display:none;" />
    </div>
}

<div class="singer-info text-center v-sp text-white">
    <h1 dir="rtl">@Model.FullName</h1>
    <h5 dir="rtl">
        @Model.Bio
    </h5>
</div>

<div class="v-sp command-btns text-right ">
    <a href="" class="btn btn-white">
        بر زدن <i class="zmdi zmdi-shuffle"></i>
    </a>
    <button href="" class="btn btn-white" id="btnShare">اشتراک <i class="zmdi zmdi-share"></i></button>

</div>

<div class="col-12 v-sp">
    @if (Model.Songs.Any())
    {
        <h2 class="col-12 sec-title text-center mb-5">آهنگ ها</h2>

        <div class="tbl-songs mb-5">
            <table dir="rtl" class="table text-white text-right">
                <tbody>
                    @foreach (var song in Model.Songs)
                    {
                        <tr>
                            <td>
                                <a href="/Play/@song.Id">
                                    <img class="img-fluid song-img" src="/Images/Singer/@song.Image"
                                         alt="" srcset="">
                                    <b class="text-white"
                                       style="text-decoration: none;"><span class="zmdi zmdi-play"></span> @song.Name</b>
                                </a>
                            </td>
                            <td>@Model.FullName</td>
                            <td><a href="/Album/@song.AlbumId" class="text-center text-white">@song.AlbumName</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Songs" class="btn btn-white btn-block v-sp"> نمایش بیشتر</a>
        </div>
    }


    @if (Model.Albums.Any())
    {
        <h2 class="col-12 sec-title text-center mb-5">آلبوم ها</h2>

        <div class="tbl-songs mb-5">
            <table dir="rtl" class="table text-white text-right">
                <tbody>
                    @foreach (var album in Model.Albums)
                    {
                        <tr>
                            <td>
                                <a href="/Album/@album.Id">
                                    <img class="img-fluid song-img" src="/Images/Singer/@album.Image"
                                         alt="" srcset="">
                                    <b class="text-white"
                                       style="text-decoration: none;"><span class="zmdi zmdi-play"></span> @album.Name</b>
                                </a>
                            </td>
                            <td>@Model.FullName</td>
                            <td>اهنگ @album.SongCount</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Songs" class="btn btn-white btn-block v-sp"> نمایش بیشتر</a>
        </div>
    }

    @if (Model.Singers.Any())
    {
        <div class="col-12 recommended-singers mb-5">
            <section class="col-12 sec-singers">
                <header>
                    <h3 class="sec-title text-right mb-5">
                        <a href="/Singers" class="badge badge-light">بیشتر</a> خوانندگان
                        دیگر
                    </h3>
                </header>

                <div class="col-12 container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                        @foreach (var singer in Model.Singers)
                        {
                            <div class="col singer-item">
                                <div class="area-control-singer-item rounded-circle mx-auto d-block">
                                    <a class="singer-item-link" href="/Singer/@singer.Id">
                                        <img class="singer-thumb img-fluid rounded-circle mx-auto d-block" src="/Images/Singer/@singer.Image" alt="@singer.FullName's Picture">
                                        <p class="singer-name text-center">@singer.FullName</p>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </section>
        </div>
    }

</div>

@section scripts{

    <script>

        $(document).ready(function () {
            setTimeout(function () {
                jQuery('#Singer-img').fadeIn(1000);
            }, 250);

            $("#btnShare").on("click", function () {
                var copyText = window.location.href;
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");
                alert("damn");
                $(this)
                    .removeClass("btn-white")
                    .addClass("btn-success")
                    .delay(800).done(function () {
                        alert("damn");

                        $(this).removeClass("btn-success").addClass("btn-white");
                    });
            });
        });


    </script>

}