﻿@model IEnumerable<MusicOverFlow.DataLayer.Entities.Singer.Singer>

@{
    ViewData["Title"] = "خوانندگان";
}

<h1 class="col-12 sec-title text-center zmdi zmdi-mic-outline"> خوانندگان </h1>

<div class="col-12 container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (var singer in Model)
        {
            <div class="col singer-item">
                <div class="area-control-singer-item rounded-circle mx-auto d-block">
                    <a class="singer-item-link" href="/Singer/@singer.Id">
                        <img class="singer-thumb img-fluid rounded-circle mx-auto d-block" src="/Images/Singer/@singer.Image" alt="@singer.FullName's Picture">
                        <p class="singer-name text-center">@singer.FullName</p>
                    </a>
                </div>
            </div>
        }

    </div>
</div>