﻿@model MusicOverFlow.Core.DTOs.CreateSongViewModel

@{
    ViewData["Title"] = "اضافه کردن اهنگ جدید";
    IEnumerable<MusicOverFlow.Core.DTOs.SelectTagViewModel> singers = ViewData["singer"] as IEnumerable<MusicOverFlow.Core.DTOs.SelectTagViewModel>, albums = ViewData["album"] as IEnumerable<MusicOverFlow.Core.DTOs.SelectTagViewModel>;


}
<br />
<h1 class="text-white text-center" id="page-title">@ViewData["Title"]</h1>
<hr class="bg-white" />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger float-right" dir="rtl"></div>

    <div class="col-12 row text-white" dir="rtl">
        <div class="col-md-6 col-xl-6 col-lg-12 col-sm-12">

            <div class="form-group">
                <label asp-for="Name" class="control-label float-right"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingerId" class="control-label float-right"></label>
                <select name="SingerId" id="SingerId" class="form-control">
                    @foreach (var item in singers)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="SingerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group form-check text-right">
                    <label class="form-check-label" for="IsSingleTrack">تک اهنگ</label>
                    <input asp-for="IsSingleTrack" type="checkbox" class="form-check-input">
                    <small class="form-text text-muted" dir="rtl">در صورت تیک زدن تک آهنگ توجهی به آلبوم نکنید. ثبت نمیشود.</small>
                </div>
                <label asp-for="AlbumId" class="control-label float-right"></label>
                <select name="AlbumId" id="AlbumId" class="form-control">
                </select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            
        </div>

        <div class="col-md-6 col-xl-6 col-lg-12 col-sm-12">
            @* upload the images here *@
            
            <div class="form-group">
                <label asp-for="SongFile" class="control-label float-right"></label>
                <input name="SongFile" id="SongFile" type="file" class="form-control" />
                <span asp-validation-for="SongFile" class="text-danger"></span>
                <br />
                <audio id="audio" controls style="width: 100%;">
                    <source src="" id="src"/>
                </audio>
            </div>
            
            <div class="form-group">
                <label asp-for="Image" class="control-label float-right"></label>
                <input name="Image" id="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
                <br />
                <img width="300" class="m-2 img-thumbnail mx-auto d-block" src="~/Images/Singer/Default.jpg" id="imgInp" alt="song Image" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <br />
        <input type="submit" value="بساز" class="btn btn-primary btn-block"/>
        <br />
    </div>
</form>


<div>
    <a asp-action="Index" class="btn btn-block btn-outline-warning">بازگشت به لیست</a>
</div>

@section scripts{

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgInp').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Image").change(function () {
            readURL(this);
        });

        function handleFiles(event) {
            var files = event.target.files;
            $("#src").attr("src", URL.createObjectURL(files[0]));
            document.getElementById("audio").load();
        }
        document.getElementById("SongFile").addEventListener("change", handleFiles, false);



        $(document).ready(function () {
            UpdateAlbum();
        });


        $("#SingerId").change(function() {
            UpdateAlbum();
            UpdateTitle();
        });
        function UpdateAlbum() {
            var singerId = $('#SingerId').children("option:selected").val();
            var url = "/api/singeralbumapi/" + singerId;
            var albumSelect = $('#AlbumId');
            albumSelect.empty();
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data,
                        function (i, item) {
                            albumSelect.append($('<option></option>').text(item.name).val(item.id));
                        });
                }
            });
        }

        $("#Name").on("change paste keyup",
            function() {
                UpdateTitle();
            });

        function UpdateTitle() {
            if ($("#Name").val() === "") {
                $("#page-title").text("اضافه کردن اهنگ جدید");
            } else {
                $("#page-title").text(" اضافه کردن اهنگ " + $("#Name").val() + " از " + $('#SingerId').children("option:selected").text());
            }
        }


        $("#IsSingleTrack").change(function() {
            if ($(this).is(":checked"))
            {
                $('#AlbumId').prop('disabled', 'disabled');

            } else {
                $('#AlbumId').prop('disabled', false);
            }
        });
    </script>

}