﻿@model IEnumerable<MusicOverFlow.Core.DTOs.ShowListSongViewModel>

@{
    ViewData["Title"] = "لیست اهنگ ها";
}
    <hr />
    <h1 class="text-white text-center">@ViewData["Title"]</h1>
    <br />
<p>
    <a asp-action="Create" class="btn btn-success btn-block">ساخت اهنگ جدید</a>
</p>
<table class="table text-white text-right" dir="rtl">
    <thead>
        <tr>
            <th>
                نام
            </th>
            <th>
                عکس
            </th>
            <th>
                صاحب اثر
            </th>
            <th>
                البوم
            </th>
            <th>
                تاریخ ساخت
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.Any())
{
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="/Images/Song/@item.Image" class="img-thumbnail" width="50" height="50" alt="البوم" />
            </td>
            <td>
                <a href="/Singer/@item.SingerId" class="text-center text-white">@item.SingerName</a>
            </td>
            <td>
                <a href="/Album/@item.AlbumId" class="text-center text-white">@item.AlbumName</a>
            </td>
            <td>
                @MusicOverFlow.Core.Convertors.DateConvertor.ToShamsi(item.ModifyDate)
            </td>
            <td>
                <a href="/Admin/Song/Edit/@item.Id" class="btn btn-sm btn-warning">تغییر</a> |
                <a href="/Admin/Song/Delete/@item.Id" class="btn btn-sm btn-danger">حذف</a>
            </td>
        </tr>
    }
}
else
{
    <h2 class="alert alert-warning text-danger text-center">هیچ اهنگی وجود ندارد</h2>
}
    </tbody>
</table>
