﻿@{
    ViewData["Title"] = "ارتباط با ما";
}

<div class="text-white col-12 p-lg-5 p-md-4 p-sm-2 p-xl-5" dir="rtl">
    <h1 class="text-center h2 p-4">
        پروژه <strong>Music OverFlow</strong> به عنوان پروژه پایانی کاردانی محمد خدامی و سهیل حیدری ساخته شده است
        <br />
        <br />
        برنامه نويسي سايت كاملا به عهده محمد خدامي است.
    </h1>
    <p class="text-right" dir="rtl">
        <b class="h4">توضیح سایت:</b>
        در اين سايت مي شود آهنگ، آلبوم و خواننده درست كرد و در بخش هاي مشخص شده نمايش داده شود.
        توانايي پخش اهنگ در بخش پلير با <u>پلير كاستوم</u> وجود دارد.
    </p>
    <p class="text-right mt-5" dir="rtl">
        <h4 class="text-right">توضيح ابزار استفاده شده در سايت:</h4>
        <ul class="pr-3 pt-3 text-right" dir="rtl">
            <li>ASP.NET Core 3.1</li>
            <li>Linq</li>
            <li>Bootstrap 4.5</li>
            <li>JQuery</li>
            <li>AJAX</li>
            <li>MongoDB</li>
        </ul>
    </p>
    <section class="text-center mb-5 mt-5 text-black-50">

        <button class="btn btn-outline-success" " type="button" data-toggle="collapse" data-target="#collapseWebsiteExample" aria-expanded="false" aria-controls="collapseWebsiteExample">
            <h2 class=" mb-4">عکس از بخش های مخطلف پروژه وب</h2>
        </button>

        <div class="collapse" id="collapseWebsiteExample">
            <div class="card card-body">

                <h3 class="mt-3">صفحه خوانندگان</h3>
                <img class="mb-3 img-fluid img-thumbnail" src="/Images/Content/Singers.png" alt="Singers page" />

                <h3 class="mt-3">صفحه آلبوم</h3>
                <img class="mb-3 img-fluid img-thumbnail" src="/Images/Content/AlbumProfile.png" alt="Album page" />

                <h3 class="mt-3">صفحه خواننده</h3>
                <img class="mb-3 img-fluid img-thumbnail" src="/Images/Content/SingerProfile.png" alt="Singer page" />

                <h3 class="mt-3">صفحه اصلی کاوش</h3>
                <img class="mb-3 img-fluid img-thumbnail" src="/Images/Content/Search_main.png" alt="search main page" />

                <h3 class="mt-3">صفحه نتایج کاوش</h3>
                <img class="mb-3 img-fluid img-thumbnail" src="/Images/Content/Search_result.png" alt="sarch result page" />

                <h3 class="mt-3">صفحه پلیر کاستوم</h3>
                <img class="mb-3 img-fluid img-thumbnail" src="/Images/Content/Player.png" alt="music player page" />

            </div>
        </div>


    </section>

    <section class="text-center mb-5 mt-5 text-black-50"">

        <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseAndroidsiteExample" aria-expanded="false" aria-controls="collapseAndroidsiteExample">
            <h2 class=" mb-4">عکس از بخش های مخطلف پروژه اندروید</h2>
        </button>

        <div class="collapse" id="collapseAndroidsiteExample">
            <div class="card card-body row">

                <div class="col-sm-12 col-lg-4 col-xl-4 col-md-4">
                    <h3 class="mt-3">صفحه لیست اهنگ ها</h3>
                    <img class="mb-3 img-fluid img-thumbnail col" width="100" src="/Images/Content/A_SongList.png" alt="Song List page" />
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-4 col-md-4">

                    <h3 class="mt-3">صفحه لیست اهنگ های انلاین</h3>
                    <img class="mb-3 img-fluid img-thumbnail col" width="100" src="/Images/Content/A_OnlineSongList.png" alt="Song List page" />
                </div>

                <div class="col-sm-12 col-lg-4 col-xl-4 col-md-4">

                    <h3 class="mt-3">صفحه پلیر</h3>
                    <img class="mb-3 img-fluid img-thumbnail col" width="100" src="/Images/Content/A_player.png" alt="Player page" />
                </div>

            </div>
        </div>


    </section>
</div>