﻿@using MusicOverFlow.DataLayer.Entities.Singer
@using MusicOverFlow.DataLayer.Entities.Song
@{
    ViewData["Title"] = "صفحه اصلی";

    var newtracks = ViewData["NewSingleTracks"] as List<Song>;
    var newalbums = ViewData["Albums"] as List<MusicOverFlow.DataLayer.Entities.Album.Album>;
}

@section styles{
    <link rel="stylesheet" type='text/css' href="~/css/main-page.css">
}
<section class="col-12 sec-singers">
    <header>
        <h3 class="sec-title text-right"><a href="/Singers" class="badge badge-light">بیشتر</a>خوانندگان </h3>
    </header>

    <div class="col-12 container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            @foreach (var singer in ViewData["Singers"] as List<Singer>)
            {
                <div class="col singer-item">
                    <div class="area-control-singer-item rounded-circle mx-auto d-block">
                        <a class="singer-item-link" href="/Singer/@singer.Id">
                            <img class="singer-thumb img-fluid rounded-circle mx-auto d-block" src="/Images/Singer/@singer.Image" alt="@singer.FullName's Picture">
                            <p class="singer-name text-center">@singer.FullName</p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</section>


@if (newtracks != null)
{<section class="col-12 sec-singers">
        <header>
            <h3 class="sec-title text-right"><a href="/Songs" class="badge badge-light">بیشتر</a>اهنگ های جدید </h3>
        </header>

        <div class="col-12 container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                @foreach (var song in newtracks)
                {
                    <div class="col singer-item">
                        <div class="area-control-singer-item rounded-circle mx-auto d-block">
                            <a class="singer-item-link" href="/Singer/@song.Id">
                                <img class="singer-thumb img-fluid rounded-circle mx-auto d-block" src="/Images/Song/@song.Image" alt="@song.Name's Picture">
                                <p class="singer-name text-center">@song.Name</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
}
@if (newalbums != null)
{
    <section class="col-12 sec-playlist">
        <header>
            <h3 class="sec-title text-right"><a href="" class="badge badge-light">بیشتر</a>لیست پخش </h3>
        </header>

        <div class="col-12 container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                @foreach (var album in newalbums)
                {
                    <div class="col playlist" style="height:150px; width:100%; overflow:hidden;">
                        <a href="/Album/@album.Id">
                            <img class="img-fluid " style="top: -20%; position:absolute;" src="/Images/Album/@album.Image" alt="@album.Name image">
                            <div class="playlist-text">
                                <p>@album.Name</p>
                            </div>

                        </a>
                    </div>
                }
            </div>
        </div>

    </section>
}