﻿<footer class="col-12 footer container">
    <div class="row row-cols-1 row-cols-sm-2">
        <div class="col">
            <div class="container">
                <div class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 footer-icons text-center">
                    <a class="col" href=""><i class="zmdi zmdi-instagram footer-icon"></i></a>
                    <a class="col" href=""><i class="zmdi zmdi-linkedin-box footer-icon"></i></a>
                    <a class="col" href=""><i class="zmdi zmdi-twitter footer-icon"></i></a>
                    <a class="col" href=""><i class="zmdi zmdi-whatsapp footer-icon"></i></a>
                    <a class="col" href=""><i class="zmdi zmdi-youtube-play footer-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="col">

            <form action="" method="post">

                <div class="input-group mb-3 footer-email">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-secondary" id="basic-addon2">عضویت</button>
                    </div>
                    <input type="email" dir="rtl" class="form-control" placeholder="برای عضویت در خبرنامه ایمیل خود را وارد کنید"
                           aria-label="برای عضویت در خبرنامه ایمیل خود را وارد کنید" aria-describedby="basic-addon2">

                </div>

            </form>

        </div>
    </div>
</footer>