﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Music OverFlow</title>

    <partial name="_MetaTags" />
    <partial name="_Styles" />
    @RenderSection("styles", required: false)

</head>
<body>
    @RenderSection("bodyStart", required: false)

    <div class="col-12">
        <div class="col-12 header">
            <div class="row">
                <div class="col">
                    <a href="/">
                        <img src="~/Logo.jpg" class="main-page-logo" alt="Logo" srcset="">
                    </a>
                </div>
                <form asp-action="Search" method="get" asp-controller="Search" class="col search-lg">
                    <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar">
                                <input dir="rtl" autocomplete="off" name="search" class="search_input text-center" type="text" name="search" placeholder="دنبال چی میگردی؟">
                                <a href="#" class="search_icon">

                                    <i class="zmdi zmdi-search"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col nav-lg">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        <li><a href="/ContactUs">ارتباط با ما</a></li>
                        <li><a href="/search">کاوش</a></li>
                    </ul>
                </div>
                <div class="col nav-sm container">
                    <ul class="row text-center">
                        <li class="col"><a href="/"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="col"><a href="/ContactUs"><i class="zmdi zmdi-phone"></i></a></li>
                        <li class="col"><a href="/Search"><i class="zmdi zmdi-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 main-body">
            @RenderBody()

        </div>
    </div>

    @RenderSection("outOfMainBody", required: false)







    <partial name="_Footer" />

    <script src="~/lib/jquery/jquery-3.5.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>