﻿<link rel="stylesheet" type='text/css' href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type='text/css' href="~/plugin/searchbox/style.css">
<link rel="stylesheet" type='text/css' href="~/lib/zmdi/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type='text/css' href="~/css/general.css">