﻿@model IEnumerable<MusicOverFlow.Core.DTOs.ShowListSongViewModel>
@{
    ViewData["Title"] = "آهنگ ها";
}

<h2 class="col-12 sec-title text-center mb-5">آهنگ ها</h2>

<div class="tbl-songs mb-5">
    <table dir="rtl" class="table text-white text-right">
        <tbody>
            @foreach (var song in Model)
            {
                <tr>
                    <td>
                        <a href="/Play/@song.Id">
                            <img class="img-fluid song-img" src="/Images/Song/@song.Image"
                                 alt="" srcset="">
                            <b class="text-white"
                               style="text-decoration: none;"><span class="zmdi zmdi-play"></span> @song.Name</b>
                        </a>
                    </td>
                    <td><a href="/Singer/@song.SingerId" class="text-center text-white">@song.SingerName</a></td>
                    <td><a href="/Album/@song.AlbumId" class="text-center text-white">@song.AlbumName</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>