﻿@model MusicOverFlow.Core.DTOs.CreateAlbumViewModel

@{
    ViewData["Title"] = "البوم جدید";
    IEnumerable<MusicOverFlow.Core.DTOs.SelectTagViewModel> singers = ViewData["singer"] as IEnumerable<MusicOverFlow.Core.DTOs.SelectTagViewModel>;
}

<h1 class="text-center text-white">البوم جدید</h1>

<hr class="bg-white" />
<div class="row text-white" dir="rtl">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label float-right"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingerId" class="control-label float-right"></label>
                <select name="SingerId" id="SingerId" class="form-control">
                    @foreach (var item in singers)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="SingerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label float-right">عکس البوم</label>
                <input type="file" asp-for="ImageFile" class="form-control" accept="image/png, image/jpeg" />
                <img src="~/Images/Singer/Default.jpg" id="imgInp" alt="Singer Image" class="m-2 img-thumbnail float-right" width="500" style="margin:20px;" />
            </div>

            <div class="form-group">
                <input type="submit" value="بساز" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-block btn-outline-warning">بازگشت به لیست</a>
</div>


@section scripts{

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgInp').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#ImageFile").change(function () {
            readURL(this);
        });

    </script>

}
