﻿@model MusicOverFlow.Core.DTOs.EditAlbumViewModel

@{
    ViewData["Title"] = "تغییر اطلاعات البوم";
    IEnumerable<MusicOverFlow.Core.DTOs.SelectTagViewModel> singers = ViewData["singer"] as IEnumerable<MusicOverFlow.Core.DTOs.SelectTagViewModel>;
}

<h1 class="text-white text-center">تغییر اطلاعات البوم</h1>

<hr class="bg-white" />
<div class="row text-white" dir="rtl">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input hidden asp-for="Id" class="form-control" />

            <div class="form-group">
                <label asp-for="Name" class="control-label float-right"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SingerId" class="control-label float-right"></label>
                <select name="SingerId" id="SingerId" class="form-control">
                    @foreach (var singer in singers)
                    {
                        if (singer.Id == Model.SingerId)
                        {
                            <option selected value="@singer.Id">@singer.Name</option>
                        }
                        else
                        {
                            <option value="@singer.Id">@singer.Name</option>

                        }
                    }
                </select>
                <span asp-validation-for="SingerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label float-right">عکس البوم</label>
                <input type="file" asp-for="ImageFile" class="form-control" accept="image/png, image/jpeg" />
                <img src="~/Images/Album/@Model.ImageString" id="imgInp" alt="Singer Image" class="m-2 img-thumbnail float-right" width="500" style="margin:20px;" />
            </div>

            <div class="form-group">
                <input type="submit" value="تغییر بده" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="float-right col-12">
    <a asp-action="Index" class="btn btn-outline-warning btn-block">بازگشت به لیست خواننده ها</a>
</div>

@section scripts{

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgInp').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#ImageFile").change(function () {
            readURL(this);
        });

    </script>

}
