﻿@model IEnumerable<MusicOverFlow.Core.DTOs.ShowListAlbumViewModel>

@{
    ViewData["Title"] = "البوم ها";
}
<br />
<h1 class="text-white text-center">لیست البوم ها</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success btn-block">ساخت البوم جدید</a>
</p>
@if (Model.Count() >= 0)
{
    <table class="table text-white text-right" dir="rtl">

        <thead>
            <tr>
                <th>
                    نام
                </th>
                <th>
                    خواننده
                </th>
                <th>
                    عکس
                </th>
                <th>
                    تارخ ساخت
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Album/@item.Id" class="text-white">@item.Name</a>
                    </td>
                    <td>
                        <a href="/Singer/@item.SingerId" class="text-white">@item.SingerName</a>
                    </td>
                    <td>
                        <img src="/Images/Album/@item.Image" class="img-thumbnail" width="60" height="60" alt="البوم" />
                    </td>
                    <td>
                        @MusicOverFlow.Core.Convertors.DateConvertor.ToShamsi(item.ModifyDate)
                    </td>
                    <td>
                        <a href="/Admin/Album/Edit/@item.Id" class="btn btn-sm btn-warning">تغییر</a> |
                        <a href="/Admin/Album/Delete/@item.Id" class="btn btn-sm btn-danger">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="col-12 alert alert-warning text-center">خالی</h2>

}